# Pandas

Hauptwerkzeug für Datenanalyse

Funktionen:
- Sortieren
- Filtern
- Vergleichen
- Summieren
- Mittelwerte bilden
- Daten anpassen/Fehler beheben
- ...

Zwei Teile:
- Einführung in Pandas
- Fehlerbehebung mit Pandas

In [1]:
import numpy as np
import pandas as pd

## Serie

Die Serie ist ein Numpy-Array mit mehr Funktionen

Jede Spalte und jede Zeile im nachfolgendem DataFrame ist eine Serie

In [3]:
pd.Series([0.38, 83.7, 8.6, 9])  # pd.Series: Ein Series Objekt erstellen mit den gegebenen Zahlen

0     0.38
1    83.70
2     8.60
3     9.00
dtype: float64

In [4]:
einwohnerM = pd.Series([0.38, 83.7, 8.6, 9])

In [6]:
einwohnerM  # Nicht aussagekräftig (Städte? Länder? Beides?)

0     0.38
1    83.70
2     8.60
3     9.00
dtype: float64

### Beschriftungen

Eine Serie kann jetzt Beschriftungen erhalten

In [8]:
einwohnerM.name = "Einwohnerzahlen Europa"

In [10]:
einwohnerM  # Besser

0     0.38
1    83.70
2     8.60
3     9.00
Name: Einwohnerzahlen Europa, dtype: float64

In [11]:
einwohnerM.index = ["LI", "DE", "CH", "AT"]

In [12]:
einwohnerM

LI     0.38
DE    83.70
CH     8.60
AT     9.00
Name: Einwohnerzahlen Europa, dtype: float64

### Vektorisierung

Unter jeder Serie ist ein ndarray (Numpy Array) darunter -> Vektorisierung

In [13]:
einwohnerM > 50

LI    False
DE     True
CH    False
AT    False
Name: Einwohnerzahlen Europa, dtype: bool

In [14]:
einwohnerM[einwohnerM > 50]

DE    83.7
Name: Einwohnerzahlen Europa, dtype: float64

In [17]:
# Alle Länder mit unterdurchschnittlich vielen Einwohnern
einwohnerM.mean()

25.419999999999998

In [18]:
einwohnerM[einwohnerM < einwohnerM.mean()]

LI    0.38
CH    8.60
AT    9.00
Name: Einwohnerzahlen Europa, dtype: float64

In [21]:
einwohnerM[0]

C:\Users\lk3\AppData\Local\Temp\ipykernel_11100\3060421205.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  einwohnerM[0]

0.38

In [22]:
einwohnerM["AT"]

9.0

In [26]:
einwohnerM["CH":"AT"]  # WICHTIG: Hier wird auch die Obergrenze ausgegeben

CH    8.6
AT    9.0
Name: Einwohnerzahlen Europa, dtype: float64

In [27]:
einwohnerM[2:3]

CH    8.6
Name: Einwohnerzahlen Europa, dtype: float64

In [30]:
einwohnerM.sort_values(ascending=False)

DE    83.70
AT     9.00
CH     8.60
LI     0.38
Name: Einwohnerzahlen Europa, dtype: float64

In [32]:
einwohnerM.sort_index()["AT":"DE"]

AT     9.0
CH     8.6
DE    83.7
Name: Einwohnerzahlen Europa, dtype: float64

In [33]:
einwohnerM.values  # Das unterliegende Numpy-Array

array([ 0.38, 83.7 ,  8.6 ,  9.  ])

In [34]:
type(einwohnerM.values)

numpy.ndarray

## DataFrame

Effektiv eine Tabelle

Jeder Zeile/Spalte ist eine Serie

DataFrames werden über die read... Methoden erstellt

In [35]:
data = pd.DataFrame({ "Spalte 1": [1, 2, 3], "Spalte 2": [4, 5, 6], "Spalte 3": [7, 8, 9] })

In [37]:
data.index = ["Z1", "Z2", "Z3"]

In [38]:
data

    Spalte 1  Spalte 2  Spalte 3
Z1         1         4         7
Z2         2         5         8
Z3         3         6         9

### Die read Methoden

Die read Methoden sind eine Sammlung von Methoden, welche verschiedenste Dateiformate lesen können

Um PopulationData.csv laden zu können, benötigen wir die read_csv Methode

In [41]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";")

In [42]:
data

,#,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,"4,992",0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,"3,480",3.05 %,103,0,"12,170",NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,"1,626",0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,"1,357",1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,"2,003",0,NaN,N.A.,N.A.,N.A.,0.00 %

### Probleme
- Tausendertrennzeichen und Dezimalzeichen
- Index als Land setzen
- #-Spalte entfernen
- Spalten umbenennen
- Strings aus numerischen Spalten entfernen (%, N.A., ...)

In [47]:
data.info()  # Datentypen auflisten

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population(2020)         235 non-null    object
 3   YearlyChange             235 non-null    object
 4   NetChange                235 non-null    object
 5   Density(P/Km²)           235 non-null    object
 6   Land Area(Km²)           235 non-null    object
 7   Migrants(net)            201 non-null    object
 8   Fert.Rate                235 non-null    object
 9   Med.Age                  235 non-null    object
 10  UrbanPop %               235 non-null    object
 11  WorldShare               235 non-null    object
dtypes: int64(1), object(11)
memory usage: 22.2+ KB

#### Problem 1: Tausendertrennzeichen und Dezimalzeichen

In [48]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".")

In [49]:
data

,#,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population(2020)         235 non-null    int64
 3   YearlyChange             235 non-null    object
 4   NetChange                235 non-null    int64
 5   Density(P/Km²)           235 non-null    int64
 6   Land Area(Km²)           235 non-null    int64
 7   Migrants(net)            201 non-null    float64
 8   Fert.Rate                235 non-null    object
 9   Med.Age                  235 non-null    object
 10  UrbanPop %               235 non-null    object
 11  WorldShare               235 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 22.2+ KB

#### Problem 2: Indexspalte setzen

In [57]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".", index_col="Country (or dependency)")

In [58]:
data

,#,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,,
China,1,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,2,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,3,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,4,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,5,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,231,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,232,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,233,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,234,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,235,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

Index nach dem Laden setzen:

In [55]:
data.set_index("#")

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,
1,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
231,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

#### Problem 3: #-Spalte entfernen

In [62]:
data.drop(columns=["#"])  # Hier muss mit columns= gearbeitet werden

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [64]:
data  # Hier wird eine Kopie erzeugt, das original bleibt unverändert

,#,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,,
China,1,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,2,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,3,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,4,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,5,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,231,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,232,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,233,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,234,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,235,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

Zwei Möglichkeiten:
- Zuweisung (data = data.drop(columns=["#"]))
- inplace=True

In [65]:
data.drop(columns=["#"], inplace=True)

In [66]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

#### Problem 4: Spalten umbenennen

Die rename Funktion benötigt ein Dictionary als Parameter in der Form "Alter Name": "Neuer Name"

In [70]:
data.rename(columns={
    "Population(2020)": "Pop",
    "Density(P/Km²)": "Density",
    "Land Area(Km²)": "LandArea",
    "Migrants(net)": "Migrants",
    "UrbanPop %": "UrbanPop"
}, inplace=True)

In [71]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [72]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".")

In [74]:
data.drop(columns=["#"], inplace=True)

In [77]:
data.rename(columns={
    "Country (or dependency)": "Country",
    "Population(2020)": "Pop",
    "Density(P/Km²)": "Density",
    "Land Area(Km²)": "LandArea",
    "Migrants(net)": "Migrants",
    "UrbanPop %": "UrbanPop"
}, inplace=True)

In [79]:
data.set_index("Country", inplace=True)

In [80]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Datenanalyse

Erkenntnisse ziehen aus den Daten

Zwei Möglichekeiten um Daten anzugreifen:
- Spaltenweise
- Zeilenweise

#### Spalten angreifen

In [81]:
data["Pop"]

Country
China               1439323776
India               1380004385
United States        331002651
Indonesia            273523615
Pakistan             220892340
                       ...
Montserrat                4992
Falkland Islands          3480
Niue                      1626
Tokelau                   1357
Vatican State              801
Name: Pop, Length: 235, dtype: int64

In [82]:
data["Pop"].mean()

33171202.680851065

In [89]:
data["Pop"] > data["Pop"].mean()

Country
China                True
India                True
United States        True
Indonesia            True
Pakistan             True
                    ...
Montserrat          False
Falkland Islands    False
Niue                False
Tokelau             False
Vatican State       False
Name: Pop, Length: 235, dtype: bool

In [88]:
# Aufgabe: Welche Länder sind über dem Durchschnitt?
data[data["Pop"] > data["Pop"].mean()]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %
United Kingdom,67886011,0.53 %,355839,281,241930,260650.0,1.8,40,83 %,0.87 %
France,65273511,0.22 %,143783,119,547557,36527.0,1.9,42,82 %,0.84 %
Italy,60461826,-0.15 %,-88249,206,294140,148943.0,1.3,47,69 %,0.78 %
Tanzania,59734218,2.98 %,1728755,67,885800,-40076.0,4.9,18,37 %,0.77 %
South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
Myanmar,54409800,0.67 %,364380,83,653290,-163313.0,2.2,29,31 %,0.70 %
Kenya,53771296,2.28 %,1197323,94,569140,-10000.0,3.5,20,28 %,0.69 %
South Korea,51269185,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %
Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
Spain,46754778,0.04 %,18002,94,498800,40000.0,1.3,45,80 %,0.60 %
Uganda,45741007,3.32 %,1471413,229,199810,168694.0,5.0,17,26 %,0.59 %
Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
Ukraine,43733762,-0.59 %,-259876,75,579320,10000.0,1.4,41,69 %,0.56 %
Iraq,40222493,2.32 %,912710,93,434320,7834.0,3.7,21,73 %,0.52 %
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Poland,37846611,-0.11 %,-41157,124,306230,-29395.0,1.4,42,60 %,0.49 %
Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
Morocco,36910560,1.20 %,438791,83,446300,-51419.0,2.4,30,64 %,0.47 %
Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
Uzbekistan,33469203,1.48 %,487487,79,425400,-8863.0,2.4,28,50 %,0.43 %

#### Zeile angreifen

Für Zeilen muss die loc-Funktion verwendet werden

WICHTIG: Bei loc müssen eckige Klammern verwendet werden

In [92]:
data.loc["China"]

Pop             1439323776
YearlyChange        0.39 %
NetChange          5540090
Density                153
LandArea           9388211
Migrants         -348399.0
Fert.Rate              1.7
Med.Age                 38
UrbanPop              61 %
WorldShare         18.47 %
Name: China, dtype: object

In [98]:
data.loc["China":"Indonesia"]  # Mehrere Zeilen nehmen

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %

In [105]:
data.loc["China":"Indonesia", "Pop":"Density"]

                      Pop YearlyChange  NetChange  Density
Country
China          1439323776       0.39 %    5540090      153
India          1380004385       0.99 %   13586631      464
United States   331002651       0.59 %    1937734       36
Indonesia       273523615       1.07 %    2898047      151

iloc: Index-Locate, kann statt alphabetischen Indizes numerische Indizes benutzen

In [110]:
data.iloc[0:10]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [112]:
# Aufgabe: Was ist die Durchschnittsbevölkerung der Top 10 Nationen?
data.iloc[:10]["Pop"].mean()

450300237.1

In [113]:
# Aufgabe: Was war der Stand der Bevölkerung letztes Jahr von allen Nationen?

In [114]:
data["Pop"] - data["Density"]

Country
China               1439323623
India               1380003921
United States        331002615
Indonesia            273523464
Pakistan             220892053
                       ...
Montserrat                4942
Falkland Islands          3480
Niue                      1620
Tokelau                   1221
Vatican State            -1202
Length: 235, dtype: int64

#### Daten sortieren

Nach eine Spalte sortieren: sort_values(Spaltenname)

Nach Index sortieren: sort_index()

Beide Funktionen können absteigend/aufsteigend sortieren mittels ascending=True/False

In [122]:
data.sort_values("LandArea", ascending=False)

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
...,...,...,...,...,...,...,...,...,...,...
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

Subsequente Sortierungen

In [124]:
data.sort_values(["LandArea", "Pop"], ascending=True)

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %

In [147]:
data.sort_index()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Zambia,18383955,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %

#### Gruppierung

Anhand einer Spalte Gruppen erzeugen, jeden Datensatz in seine entsprechende Gruppe geben

In [151]:
data.groupby("Med.Age")

In [154]:
data.groupby("Med.Age").get_group("20")

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
Kenya,53771296,2.28 %,1197323,94,569140,-10000.0,3.5,20,28 %,0.69 %
Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Madagascar,27691018,2.68 %,721711,48,581795,-1500.0,4.1,20,39 %,0.36 %
Rwanda,12952218,2.58 %,325268,525,24670,-9000.0,4.1,20,18 %,0.17 %
Mauritania,4649658,2.74 %,123962,5,1030700,5000.0,4.6,20,57 %,0.06 %
Comoros,869601,2.20 %,18715,467,1861,-2000.0,4.2,20,29 %,0.01 %
Solomon Islands,686884,2.55 %,17061,25,27990,-1600.0,4.4,20,23 %,0.01 %
Mayotte,272815,2.50 %,6665,728,375,0.0,3.7,20,46 %,0.00 %

In [155]:
# Aufgabe: Wieviele Datensätze gibt es in den jeweiligen Gruppen?

In [157]:
data.groupby("Med.Age").count()["Pop"]

Med.Age
15       1
16       1
17       6
18      10
19      14
20       9
21       5
22       7
23       4
24       6
25       4
26       7
27       4
28      12
29       5
30       8
31       6
32      11
33       5
34       6
35       3
36       4
37       4
38       7
39       3
40       7
41       5
42      10
43      11
44       5
45       5
46       3
47       2
48       1
N.A.    34
Name: Pop, dtype: int64

In [158]:
data.groupby("Med.Age")["Pop"].mean()

Med.Age
15      2.420664e+07
16      2.025083e+07
17      3.539643e+07
18      4.148540e+07
19      1.824118e+07
20      1.939652e+07
21      9.621932e+06
22      7.686515e+06
23      6.028827e+07
24      7.213284e+06
25      3.304188e+07
26      2.510786e+07
27      2.088666e+06
28      1.398790e+08
29      4.693030e+07
30      4.894655e+07
31      1.847800e+07
32      3.284957e+07
33      4.789470e+07
34      3.726593e+06
35      1.595275e+07
36      2.161582e+06
37      1.772735e+06
38      2.590871e+08
39      1.120258e+06
40      4.277205e+07
41      1.942832e+07
42      1.717237e+07
43      7.631299e+06
44      1.210433e+07
45      1.320029e+07
46      3.480124e+07
47      3.041855e+07
48      1.264765e+08
N.A.    3.333179e+04
Name: Pop, dtype: float64

### Daten exportieren

In [159]:
data.to_csv("Data/PopulationDataFastFertig.csv")