# Fehlerbehandlung mit Pandas

Daten innerhalb von Sets sind oftmals fehlerhaft

Diese Fehler müssen für die Analyse korrigiert werden

Beispiele: Prozentzeichen, NaN, N.A., ...

In [1]:
import pandas as pd
import numpy as np

pd.isnull, pd.notnull: Prüfen, ob ein Wert NaN oder None ist

In [2]:
x = 5

In [3]:
pd.isnull(5)

False

In [4]:
pd.notnull(x)

True

In [5]:
n = np.NaN

In [6]:
pd.isnull(n)

True

In [7]:
m = None

In [8]:
pd.isnull(m)

True

In [48]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", thousands=",", decimal=".", index_col="Country")

In [49]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

## Probleme

- NaN
- N.A.
- Prozentzeichen
- Datentypen

### NaN

In [15]:
pd.isnull(data)  # Alle Zellen finden, welche NaN sind

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [17]:
data.isnull().value_counts()

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  Fert.Rate  Med.Age  UrbanPop  WorldShare
False  False         False      False    False     False     False      False    False     False         201
                                                   True      False      False    False     False          34
Name: count, dtype: int64

In [20]:
data["Migrants"].isnull()  # Filterung

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Migrants, Length: 235, dtype: bool

In [21]:
data[data["Migrants"].isnull()]  # Filterung anwenden

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [29]:
data[data["Migrants"].isnull()]["Migrants"] = 0  # Hier wird eine Kopie der NaN-Datensätze erzeugt, Änderungen auf diese Datensätze werden nicht auf das Datenset angewandt

C:\Users\lk3\AppData\Local\Temp\ipykernel_9664\693164160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data["Migrants"].isnull()]["Migrants"] = 0  # Hier wird eine Kopie der NaN-Datensätze erzeugt, Änderungen auf diese Datensätze werden nicht auf das Datenset angewandt

In [28]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [39]:
nan = data[data["Migrants"].isnull()]["Migrants"]

In [40]:
nan.index

Index(['Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda',
       'Marshall Islands', 'Northern Mariana Islands', 'Greenland',
       'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands',
       'Sint Maarten', 'Monaco', 'Turks and Caicos', 'Saint Martin',
       'Liechtenstein', 'San Marino', 'Gibraltar', 'British Virgin Islands',
       'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Tuvalu',
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country')

In [42]:
data.loc[nan.index, "Migrants"] = 0  # Suche alle Zeilen, welche in dem Index enthalten sind, und überschreibe in der "Migrants" Spalte die Werte mit 0

In [43]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [45]:
data.isnull().value_counts()

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  Fert.Rate  Med.Age  UrbanPop  WorldShare
False  False         False      False    False     False     False      False    False     False         235
Name: count, dtype: int64

#### Automatisches Auffüllen von NaN

fillna: Füllt Löcher mit Werten die in den Daten vorher/nachher kommen

- ffill: forwards-fill (von oben)
- bfill: backwards-fill (von unten)

In [54]:
data.fillna(method="ffill")  # Nur eine Vorschau, übernehmen mit inplace=True

C:\Users\lk3\AppData\Local\Temp\ipykernel_9664\2671324543.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")  # Nur eine Vorschau, übernehmen mit inplace=True

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [55]:
data.fillna(method="ffill", inplace=True)

C:\Users\lk3\AppData\Local\Temp\ipykernel_9664\3219607963.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill", inplace=True)

In [59]:
data.ffill()  # Siehe Warnung darüber

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

### N.A.

Aufgabe: Suche alle Zellen die N.A. enthalten, und ersetze den Inhalt dieser Zellen mit 0

In [60]:
data == "N.A."

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [62]:
(data == "N.A.").value_counts()  # Fehlerhafte Spalten: Fert.Rate, Med.Age, UrbanPop

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  Fert.Rate  Med.Age  UrbanPop  WorldShare
False  False         False      False    False     False     False      False    False     False         194
                                                             True       True     False     False          28
                                                             False      False    True      False           7
                                                             True       True     True      False           6
Name: count, dtype: int64

In [63]:
data["Fert.Rate"] == "N.A."

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Fert.Rate, Length: 235, dtype: bool

In [65]:
na = data[data["Fert.Rate"] == "N.A."]

In [66]:
na.index

Index(['Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda',
       'Marshall Islands', 'Northern Mariana Islands', 'Greenland',
       'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands',
       'Sint Maarten', 'Monaco', 'Turks and Caicos', 'Saint Martin',
       'Liechtenstein', 'San Marino', 'Gibraltar', 'British Virgin Islands',
       'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Tuvalu',
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country')

In [67]:
data.loc[na.index, "Fert.Rate"] = 0

In [68]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

Nachdem wir jetzt diese Routine bei mehreren Spalten anwenden müssen, können wir eine Funktion anlegen

In [69]:
def fixNA(columnName: str):
    na = data[data[columnName] == "N.A."]  # Suche die N.A. Werte in der gegebenen Spalte
    index = na.index  # Entnehme alle Zeilennamen (Index) der gefundenen fehlerhaften Werte
    data.loc[index, columnName] = 0

In [70]:
fixNA("Med.Age")

In [72]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,N.A.,0.00 %

In [74]:
data.columns  # Liste von den Spaltennamen im DataFrame

Index(['Pop', 'YearlyChange', 'NetChange', 'Density', 'LandArea', 'Migrants',
       'Fert.Rate', 'Med.Age', 'UrbanPop', 'WorldShare'],
      dtype='object')

In [76]:
for col in data.columns:
    fixNA(col)  # Hier werden alle N.A. Werte aus allen Spalten entfernt

In [77]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

### Prozentzeichen

Hier müssen jetzt die Prozente nicht explizit gesucht werden, sondern wir können einfach aus ALLEN Zellen Prozente entfernen

Hierfür können wir die replace Funktion benutzen

Die replace Funktion ersetzt alle Vorkommnisse eines Textes mit einem anderen Text

In [84]:
data["YearlyChange"].replace(" %", "", regex=True)  # regex=True ist hier notwendig

Country
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: object

In [87]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True)  # Mache eine Kopie von der Spalte, ersetze in dieser Kopie alle Prozentzeichen, überschreibe die originale Spalte mit der Kopie

In [88]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

In [89]:
def fixPct(columnName: str):
    data[columnName] = data[columnName].replace(" %", "", regex=True)

In [90]:
for col in data.columns:
    fixPct(col)

In [91]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

### Datentypen

Nach dem Anpassen der Prozentzeichen sind die entsprechenden Spalten weiterhin Strings (object)

Zwei Möglichkeiten:

- convert_dtypes(): Versucht alle Spalten automatisch anzupassen
- astype(Typ): Bei einer Spalte Zeile für Zeile ausprobieren, ob die Konvertierung funktioniert

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [98]:
data.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    string
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   LandArea      235 non-null    Int64
 5   Migrants      235 non-null    Int64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [104]:
data["YearlyChange"] = data["YearlyChange"].astype(np.float32)

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    float32
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float32(1), float64(1), int64(4), object(4)
memory usage: 27.4+ KB

In [107]:
def fixType(columnName: str, targetType):  # Hier wird ein Parameter benötigt, welcher den Zieltypen definiert (float32, int32, int16, ...)
    data[columnName] = data[columnName].astype(targetType)

In [109]:
fixType("Pop", np.int32)

In [113]:
fixType("NetChange", np.int32)

In [118]:
fixType("Density", np.int16)

In [120]:
fixType("LandArea", np.int32)

In [123]:
(data["Migrants"] % 1 == 0).value_counts()

Migrants
True    235
Name: count, dtype: int64

In [124]:
fixType("Migrants", np.int32)

In [126]:
fixType("Fert.Rate", np.float32)

In [127]:
fixType("Med.Age", np.int8)

In [128]:
fixType("UrbanPop", np.int8)

In [133]:
fixType("WorldShare", np.float32)

In [132]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38,61,18.469999
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28,35,17.700001
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38,83,4.250000
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30,56,3.510000
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23,35,2.830000
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.0,0,10,0.000000
Falkland Islands,3480,3.05,103,0,12170,0,0.0,0,66,0.000000
Niue,1626,0.68,11,6,260,0,0.0,0,46,0.000000
Tokelau,1357,1.27,17,136,10,0,0.0,0,0,0.000000
Vatican State,801,0.25,2,2003,0,0,0.0,0,0,0.000000

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float32
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int16
 4   LandArea      235 non-null    int32
 5   Migrants      235 non-null    int32
 6   Fert.Rate     235 non-null    float32
 7   Med.Age       235 non-null    int8
 8   UrbanPop      235 non-null    int8
 9   WorldShare    235 non-null    float32
dtypes: float32(3), int16(1), int32(4), int8(2)
memory usage: 17.3+ KB

In [141]:
1-(17.3/28.3)  # 38% Speicherersparnis

0.38869257950530034

In [142]:
def fixType(columnNames: list[str], targetType):
    for columnName in columnNames:
        data[columnName] = data[columnName].astype(targetType)

In [143]:
fixType(["Med.Age", "UrbanPop"], np.int8)

Beispiel: Konvertierung von Datumswerten

In [144]:
def convertDate(column):
    dateCol = data[column]
    fixedDates = []
    for x in dateCol:
        date = x.split("-")
        localDate = f"{date[2]}.{date[1]}.{date[0]}"
        fixedDates.append(localDate)
    data[column] = pd.Series(fixedDates)

In [145]:
data.to_csv("Data/PopulationDataFertig.csv")